<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>LyricLingo!</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" >
  <link type="text/css" rel="stylesheet" 
      href="{{ url_for('static', filename='LyricLingo.css') }}" >
</head>
<body>
      	<div class="header"> 
            <a href="/"><img id="logo" src="../static/LyricalLingoLogo.png" alt="LyricLingo logo"/></a>
            <a href="/"><h1 id ="topBar">LyricLingo</h1></a>
      	</div>

      	<div class="welcomeMessage">
      		<p> Use the power of music to learn a new language! </p>
      	</div>

      	<div class="langSelector">
      		<p> Begin by choosing your language: </p>
      		<div>
      			<button class="buttons" id="langButton" type="button" onclick="myFunction('visible');">
      				English
    			</button>
      			<button class="buttons" id="langButton" type="button">
      				Spanish
    			</button>
    			<button class="buttons" id="langButton" type="button">
      				French
    			</button>
    			<button class="buttons" id="langButton" type="button">
      				Japanese
    			</button>
    			<button class="buttons" id="langButton" type="button">
      				Italian
    			</button>
    		</div>
    	</div>

   	<div class="visible">
	    	<div class="langSelector" id="hidden">
	      		<p> Which language would you like to learn? </p>
	      		<div>
	      			<a href="{{ url_for('english')}}"><button class="buttons" id="langButton2" type="button">
	      				English
	    			</button></a>
              <a href="{{ url_for('spanish')}}"><button class="buttons" id="langButton2" type="button">
	      				Spanish
	    			</button></a>
	    			<button class="buttons" id="langButton2" type="button">
	      				French
	    			</button>
	    			<button class="buttons" id="langButton2" type="button">
	      				Japanese
	    			</button>
	    			<button class="buttons" id="langButton2" type="button">
	      				Italian
	    			</button>
	    		</div>
	    	</div>
	    </div>

    <script>
      var langButton = document.getElementById('langButton');
      function myFunction(id) {
        var x = document.getElementById(id);
        if (x.style.display == 'block') {
          x.style.display = 'none';
        } else {
          x.style.display = 'block';
        }
        console.log('clicked');
        return;
      }
    </script>

</body>
</html>
