<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>LyricLingo!</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" >
        <link type="text/css" rel="stylesheet" 
            href="{{ url_for('static', filename='Song.css') }}" >
    </head>
    
    <body>
        <div class="header"> 
            <a href="/"><img id="logo" src="../static/LyricalLingoLogo.png" alt="LyricLingo logo"/></a>
            <a href="/"><h1 id ="topBar">LyricLingo</h1></a>
        </div>

        <p class="title">Where Are Your Heart/¿Dónde Estás Corazón?</p>

        <div class="bothSongs">
            <div>
                <p id="songHeader"> Original: </p> 
                <pre id="songLyrics">{{content[3]}}</pre>
            </div>
            <div>
                <p id="songHeader"> Translated to: </p>
                <pre id="songLyrics">{{contentO[3]}}</pre>
            </div>
        </div>

    </body>
</html>