<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Spanish songs</title>
        <link type="text/css" rel="stylesheet" 
            href="{{ url_for('static', filename='LyricLingo.css') }}" >
    </head>
    
    <body>

    <h1 id ="title"> Spanish Songs | Lyric Lingo</h1>

    <!-- TODO: DO a fuck ton of CSS-->
      <ul>
        <li><pre><a href="{{ url_for('song0')}}">{{ titlesO[0] }}</a></pre></li>
        <li><pre><a href="{{ url_for('song1')}}">{{ titlesO[1] }}</a></pre></li>
        <li><pre><a href="{{ url_for('song2')}}">{{ titlesO[2] }}</a></pre></li>
        <li><pre><a href="{{ url_for('song3')}}">{{ titlesO[3] }}</a></pre></li>
        <li><pre><a href="{{ url_for('song4')}}">{{ titlesO[4] }}</a></pre></li>
        <li><pre><a href="{{ url_for('song5')}}">{{ titlesO[5] }}</a></pre></li>
        <li><pre><a href="{{ url_for('song6')}}">{{ titlesO[6] }}</a></pre></li>
        <li><pre><a href="{{ url_for('song7')}}">{{ titlesO[7] }}</a></pre></li>


      </ul>

    </body>
</html>
